<div class="studios">
      
      <h2>
      <a href="http://b2bvisual.space/">B2B visual space</a>
   
      <img src="http://3.bp.blogspot.com/-8u3mj9pF0sQ/UfEiSdmpxHI/AAAAAAAAAMQ/Pj2eLlkOM9Q/s1600/Cyc+Wall+at+Westlight+Studios+facing+northwest.jpg" 
      width="400" height="240">
      </h2>
      <p>
      <a href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9C%D0%B8%D1%85%D0%B0%D0%B8%D0%BB%D0%B0+%D0%93%D1%80%D1%83%D1%88%D0%B5%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE,+6,+%D0%94%D0%BD%D0%B8%D0%BF%D1%80%D0%BE,+%D0%94%D0%BD%D0%B5%D0%BF%D1%80%D0%BE%D0%BF%D0%B5%D1%82%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+49000/@48.4604818,35.0414906,17z/data=!3m1!4b1!4m5!3m4!1s0x40dbe2de3f4de77d:0x99975d3177d42bb2!8m2!3d48.4604818!4d35.0436847?hl=ru"
      >г.Днепр, Михаила Грушевского 6
      </a>
      </p>
      <a href="tel:+380631641794">+380 63 164 1794</a>
      <h4>Аренда фотостудии (1 час):</h4>
      <p>299₴</p>
   
</div>
