.container {
   max-width: 1500px;
   padding-bottom: 20rem;
   margin: 0rem;
   padding-top: 15rem;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   text-shadow: 1px 1px 0.5px black; 
   background: url(https://3.bp.blogspot.com/--b2wGARyH7Y/VsMB_am6qUI/AAAAAAAAFVE/p5bFFhp3n3I/s1600/PaulinaArcklin-CROSS-STUDIO-MILAN-7745.jpg);
   background-position: center;
   background-size: cover;
   
    h1 {
      font-family: 'Montserrat', sans-serif;
       padding-top: 2%;
       margin-bottom: 30px;
       margin-top: 45px;
       letter-spacing: 3px;
    }
   }