.studios {
   position: flex;
   justify-content: flex-start;
   margin-right: 10rem;
   margin-left: 10rem;
   margin-top: 3rem;
   margin-bottom: 1rem;
   font-family: 'Raleway', sans-serif;
   background: #89776e;

   img {
      font-family: 'Raleway', sans-serif;
      float: left;
      margin: 53px -15px 0px 60px;
   }
}
.studiosText {
   position: flex;
   justify-content: flex-end;
   text-align: center;
   border-radius: 10rem;
   padding-top: 3rem;
   padding-bottom: 2rem;
   margin-right: 10rem;
   margin-left: 10rem;
   font-family: 'Raleway', sans-serif;
   background: #89776e;

   h1 {
      font-family: 'Raleway', sans-serif;  
      padding-bottom: 10px;
   }

   h4 {
      font-family: 'Raleway', sans-serif;
      padding-top: 30px;
    }

   a {
      color: black;
      text-decoration: none;
      padding-left: 2rem;
      padding-right: 2rem;
   }
}